@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto:wght@900&display=swap');
body{
    
}
/* =============================menu   start  ===================================== */
.navbar{
    background-color: #fff !important;
}
.nav-link{
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color:black;
    transition: all 0.9s ease;
}
.nav-link:hover{
    color:#2a71bd;
}
.navbar-brand img{
  height: 70px;
}
/* =============================   menu end    ===================================== */

/* =============================  banner start   ===================================== */
.banner{
    position: relative;
    background-image: url('../images/banner1.jpg');
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-content h1{
    font-size: 90px;
    font-family: 'roboto', sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 2px #fff;
}
.banner-content p{
    font-size:30px;
}
/* =============================  banner start   ===================================== */

/* =============================  our services start   ===================================== */
.fa-5x{
    color:#2a71bd;
}




/* =============================  our services end  ===================================== */


/* =============================  about start  ===================================== */
/* =============================  about end  ===================================== */

/* =============================  contact start  ===================================== */
/* =============================  contact end  ===================================== */

/* =============================  footer start  ===================================== */
/* =============================  footer end  ===================================== */








/*================================== media query max-width 768 start ======================== */
.banner-content h1{
    font-size: 60px;
    font-family: 'roboto', sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 2px #fff;
}
.banner-content p{
    font-size:20px;
}


/*================================== media query max-width 768 end ======================== */




/*================================== media query max-width 576 start ======================== */
/*================================== media query max-width 576 end ======================== */